{% extends 'clientProfile.html' %} 
{%block contentA%} 
<div style="background:#1b2653;
height:95.6vh; width:100vw; padding:35vh 20vw"> 
    <div class="container w-50" style="background:#fff;border-radius: 25px; ">
        <div style="padding:1vw">
            <legend>Welcome to the help page</legend>
            <ul>
                <li>Contact IT: 1300 6 555 06</li>
                <li>Email us: Business@CarNoWork.com</li>
                <p>Our staff would love to assist you in any trouble
                    you may be having using our service. Please 
                    note that office ours are <b>8am</b> through <b>5pm
                    Mon-Fri</b></p>
            </ul>
        </div>
        
    </div>
</div>

{%endblock contentA%}