{% extends 'clientProfile.html' %} 
{%block contentA%} 
<h1>Here is a list of your claims:</h1>
<p>(From most recent to oldest)</p>
<p>
    {% if entries|length == 0 %}
        <h1>You have made no claims</h1>
    {% else %}
        <table class="table table-dark table-hover">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Problem</th>
        <th scope="col">Location</th>
        <th scope="col">Plate Number</th>
        <th scope="col">Car Model</th>
        <th scope="col">Progress on Claim</th>
        </tr>
        </thead>
        <tbody>
            {% if entries[-1] != 'Job Completed' %}
                {% for i in range((entries|length)-1, -1, -1) %}
                    <!-- {% if entries|length == 1 %}
                        i = 0
                    {% endif %} -->
                    <tr>
                    <th scope="row">{{i+1}}</th>
                    <td> {{entries[i][0]}}</td>
                    <td> {{entries[i][1]}}</td>
                    <td>{{entries[i][2]}}</td>
                    <td>{{entries[i][3]}}</td>
                    <td>{{entries[i][4]}}</td>
                    </tr>
                
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endif %}
</p>

{%endblock contentA%}