{% extends 'clientProfile.html' %} 
{%block contentA%} 
<div style="margin: 10px; justify-self: flex-start;">
<h1>Good news, a mechanic is on the way!</h1>
<table class="table table-bordered border-primaryr">
    <thead>
    <tr>
    <th>Notifications</th>
    </tr>
    </thead>
    <tbody>
        {% if job_started|length > 0 %}
            <td>Your job has been confirmed by {{job_started[0][3]}}, who will arrive approximately in {{job_started[0][2]}}.</td>
            {% if arrival|length > 0 %}
                <tr>
                <td>{{arrival[0]}}</td>
                </tr>
            {% endif %}
        {%else%}
            <td><b>You have no Notifications</b></td>
            
        {% endif %}
    </tbody>
    
</table>
<div style=" position:absolute;width: 100%; height: 85vh; display: flex; align-items: flex-end; ">
    <div style="width: 100%;height: 20vh; background-color: #1b2653; " >
    <img style="height: 20vh;object-fit: contain;" 
    src="{{url_for('static',filename='theme_pics/logoTransWhite.png')}}" class="d-block w-100 grow" alt="...">
    </div>
</div>

{%endblock contentA%}