{% extends 'clientProfile.html' %} 
{%block contentA%} 


<div class="container">
    <div class="row">
        <div class="col backgroundCol">

        </div>
        <div class="col">
            <div class="container" mb-4>
                <h1>Confirmation of your payment</h1>
                <p>Your payment has been successfully made.</p>
                <p>A reciept of your payment has been sent to your email</p>
                <a href="{{url_for('clientProfile')}}" class="btn btn-primary" role="button" data-bs-toggle="button">Back to profile</a>
                </div>
        </div>
        <div class="col backgroundCol">

        </div>

    </div>
    <div class="row">
        <div class="col backgroundCol">
        </div>
        <div class="col backgroundCol">
            <br><br><br><br><br><br><br>
        </div>
        <div class="col backgroundCol">

        </div>
    </div>
</div>
{%endblock contentA%}