{% extends 'rapProfile.html' %} 
{%block contentA%}
<div style="display: flex; flex-direction: column; align-items: center;">
<div style="padding: 20px; margin-top: 5%; width: 80%;"> 
<h1>Welcome to your current job</h1>
<h3>Information below:</h3>
{% set currentJob = namespace(cJ=false) %}
{% if current|length > 0%}
    {% for i in range(current|length) %}
        {% if current[i][-1]==current_rap[-1] %}
            {% set currentJob.cJ = True %}
        {% endif %}
    {% endfor %}
    {% if currentJob.cJ == True %}
        <table class="table table-hover" style="background-color: #1b2653; color: white;">
            <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Client's Email</th>
            <th scope="col">Problem</th>
            <th scope="col">Location</th>
            <th scope="col">Plate Number</th>
            <th scope="col">Car Model</th>
            <th scope="col">Progress on Claim</th>
            </tr>
            </thead>
            <tbody>
                {% for i in range(current|length) %}
                    {% if current[i][-1] == current_rap[-1] %}
                        <tr>
                        <th scope="row">{{1}}</th>
                        <td>{{current[0][0]}}</td>
                        <td>{{current[0][1]}}</td>
                        <td>{{current[0][2]}}</td>
                        <td>{{current[0][3]}}</td>
                        <td>{{current[0][4]}}</td>
                        <td>{{current[0][5]}}</td>
                        </tr>
                    {% endif %}
                {% endfor %} 
            </tbody>
        </table>
    {% elif currentJob.cJ == False %}
        <h3><b>You have not accepted any jobs yetasadac</b></h3>
    {% endif %}
    <div class="container" style="text-align:center">
    <a href="{{url_for('startJob')}}" class="btn btn-primary btn-lg" style=" box-shadow: 0px 4px 4px 0px #00000040;">Start Job Now</a>
    </div>
{% else %}
    <h3><b>You have not accepted any jobs yet</b></h3>

{% endif %}
</div>
</div>

{%endblock contentA%}