{% extends 'layouts.html' %} 
{%block contentA%} 
<div style="background:#1b2653;
height:95.6vh; width:100vw; padding:30vh 20vw"> 
<div class="container w-50" style="background:#fff;border-radius: 25px;">
    <div>
        {%with messages=get_flashed_messages(with_categories=true)%}
              {%if messages%}
                {%for category,message in messages%}
                  <div class="alert alert-{{category}}">
                    {{message}}
                  </div>
                {%endfor%}
              {%endif%}
            {%endwith%}
        </div>
    <form method="POST" action="" style="padding:1vw">
        {{forgotPassword.hidden_tag()}}
        <fieldset>
            <legend class="border-bottom mb-4">Forgot Password</legend>
            <div class="form-group">
                {{forgotPassword.forgotPassword.label(class="form-control-label")}}
                {{forgotPassword.forgotPassword(class="form-control form-control-lg")}} 
            </div>
            <div class="form-group mt-4">
                {{forgotPassword.submit(class='btn btn-primary')}}
            </div>
        </fieldset>
</form>
</div>
</div>
{%endblock contentA%}