{% extends 'clientProfile.html' %} 
{%block contentA%} 
<style>
    .download {    
          margin-top: 20px;
          height: 40px;
          width: 30%;
          align-self: center;;
          border-radius: 2px;
          box-shadow: 0px 4px 4px 0px #00000040;
          border-style: none;
          color: white;
          background-color: #1b2653;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
      }
</style>

<div style="display: flex; flex-direction: column; align-items: center;">
    <div style="padding: 20px; margin-top: 5%; width: 80%;"> 
<h1>Here is a list of all your requests and their final outcome</h1>
{% set hor = namespace(bool=false) %}
<div>
{% if requests_completed|length == 0 %}
    <h1>You have no completed requests</h1>
{% else %}
    {% for i in range(requests_completed|length) %}
        {% if requests_completed[i][0]==current_client[-1] %}
            {% set hor.bool = True %}
        {% endif %}
    {% endfor %}

    <p>(From most recent to oldest)</p>
    {% if hor.bool==True %}
        <table class="table  table-hover" style="background-color: #1b2653; color: white;">
            <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Your email</th>
            <th scope="col">Your Problem</th>
            <th scope="col">Your Location of the request</th>
            <th scope="col">Your Plate Number</th>
            <th scope="col">Your Car Model</th>
            <th scope="col">Mechanics Report</th>
            <th scope="col">Your Rating</th>
            </tr>
            </thead>
            <tbody>
                {% for i in range((requests_completed|length)-1, -1, -1) %}
                    {% if requests_completed[i][0]==current_client[-1] %}
                        <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{requests_completed[i][0]}}</td>
                        <td>{{requests_completed[i][1]}}</td>
                        <td>{{requests_completed[i][2]}}</td>
                        <td>{{requests_completed[i][3]}}</td>
                        <td>{{requests_completed[i][4]}}</td>
                        <td>{{requests_completed[i][5]}}</td>
                        {% if requests_completed[i][6] == 'No rating submited' %}
                            <td><a class="nav-link active" aria-current="page" href="{{url_for('ratings')}}">Submit rating</a></td>
                        {% else %}
                            <td>{{requests_completed[i][6]}}</td>
                        {% endif %}
                        </tr>
                        {% elif requests_completed[i][0] !=current_client[-1] and i == requests_completed|length - 1%}
                        <h1>You have no completed requests</h1>
                    {% endif %}
                {% endfor %}
            </tbody>
            
    {% endif %}
</table>
<div style="display: flex; justify-content: flex-end;">
    <a class="download" aria-current="page" href="{{url_for('download')}}">Download report(s)?</a>
</div>
</div>
{% endif %}
</div>
</div>

<div style="width: 100%;margin-top: 500px; display:flex; justify-content: center;">
    <img style="height: 20vh;object-fit: contain;" 
    src="{{url_for('static',filename='theme_pics/logoTransBlack.png')}}"  alt="...">
</div>
    


{%endblock contentA%}