{% extends 'rapProfile.html' %} 
{%block contentA%}
<head>
<style>

h1, h2{
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.row{
  background-color: #1b2653;
  color: white;
  height: 300px;
}

</style>
</head>
{% if current|length > 0 %}
    <div class="row">
      <div>
      <h1>Job Confirmed</h1>
      </div>
      <br>
      <div>
      <h2 ><u>The client has been notified that you are on your way.</u></h2>
      </div>
    </div>
    <br> <br><br><br>
    <div class="container" style="text-align:center">
        <form method="POST" action="">
            {{arrived.hidden_tag()}}
            <fieldset>
                <div class="form-group mt-4">
                    {{arrived.submit(class='btn btn-primary')}}
                </div>
            </fieldset>
    </form>
    {% if arrival|length > 0 %}
      <a href="{{url_for('jobComplete')}}" class="btn btn-primary btn-lg">Click to finish job</a>
    {% endif %}
    <!-- <a href="#" class="btn btn-primary btn-lg">Notify Client that you have arrived</a> -->
    </div>
    
{% else %}
    <h1>You have not confirmed any jobs.</h1>
{% endif %}
<br>
<div>
{%with messages=get_flashed_messages(with_categories=true)%}
      {%if messages%}
        {%for category,message in messages%}
          <div class="alert alert-{{category}}">
            {{message}}
          </div>
        {%endfor%}
      {%endif%}
    {%endwith%}
</div>
{% if arrival|length > 0 %}
<a href="{{url_for('jobComplete')}}" class="btn btn-primary btn-lg">Click to finish job</a>
{% endif %}
</div>
</div>
{%endblock contentA%}