{% extends 'rapProfile.html' %} 
{%block contentA%}

<div style="display: flex; flex-direction: column; align-items: center;">
  <div style="padding: 20px; margin-top: 5%; width: 80%;"> 
{% if current|length > 0 %}
    <h1>Job Confirmed</h1>
    <h2><u>The client has been notified that you are on your way.</u></h2>
    <br> <br><br><br>
    <div class="container" style="text-align:center">
        <form method="POST" action="">
            {{arrived.hidden_tag()}}
            <fieldset>
                <div class="form-group mt-4">
                    {{arrived.submit(class='btn btn-primary')}}
                </div>
            </fieldset>
    </form>

    <!-- <a href="#" class="btn btn-primary btn-lg">Notify Client that you have arrived</a> -->
    </div>
    
 



{% else %}
    <h1>You have not confirmed any jobs.</h1>
{% endif %}
<br>
<div>
{%with messages=get_flashed_messages(with_categories=true)%}
      {%if messages%}
        {%for category,message in messages%}
          <div class="alert alert-{{category}}">
            {{message}}
          </div>
        {%endfor%}
      {%endif%}
    {%endwith%}
</div>

{% if arrival|length > 0 %}
<a href="{{url_for('jobComplete')}}" class="btn btn-primary btn-lg">Click to finish job</a>
{% endif %}
</div>
</div>
{%endblock contentA%}