{% extends 'clientProfile.html' %} 
{%block contentA%} 
<h1 style="text-align: center; color: white;">Make a request -- Page 1</h1>
<!-- <p>enter problem <br>enter location <br> enter plate number <br>enter model<br>etc</p>
<p><b>Submit</b></p> -->
<div class ="containerAReq">
    <div class="contentReq">
        2nd div
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset>
                <legend class="leg">Request Help</legend>
                <div class="form-group">
                    {{form.problem_description.label(class="form-control-label")}}      
                    {{form.problem_description(class="form-control form-control-lg")}}   
                </div>
                <div class="form-group">
                    {{form.location.label(class="form-control-label")}}      
                    {{form.location(class="form-control form-control-lg")}}   
                </div>
                <div class="form-group">
                    {{form.plate_number.label(class="form-control-label")}}      
                    {{form.plate_number(class="form-control form-control-lg")}}   
                </div>
                <div class="form-group">
                    {{form.car_model.label(class="form-control-label")}}      
                    {{form.car_model(class="form-control form-control-lg")}}   
                </div>
            
            
            </fieldset>
            <div class="form-group btn">
                {{form.next(class='btn btn-primary')}}
            </div>

        </form>
    </div>
</div>
{%endblock contentA%}