{% extends 'layouts.html' %} 
{%block contentA%} 
<h1>Did you forget your password?</h1>
<div class="container w-50">
    <form method="POST" action="">
        {{forgotPassword.hidden_tag()}}
        <fieldset>
            <div class="form-group">
                {{forgotPassword.forgotPassword.label(class="form-control-label")}}
                {{forgotPassword.forgotPassword(class="form-control form-control-lg")}} 
            </div>
            <div class="form-group mt-4">
                {{forgotPassword.submit(class='btn btn-primary')}}
            </div>
        </fieldset>
</form>
</div>
{%endblock contentA%}